:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(50, 50, 50);
}

body {
  background-color: var(--color-primary);
  color: white;
}

.flex {
  display: flex;
}

/**********************Control Bar***********************/
.control-bar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: var(--color-secondary);
  border: 1px solid black;
  min-height: 3em;
}

.control-bar-options {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  margin: 0px 5px;
  border: 1px solid black;
}

caption {
  font-weight: bold;
}
/**********************Control Bar***********************/




/**********************Box Dump***********************/
table {
  /* background-color: blue; */
  border: 1px solid white;
}

tr, th, td {
  background-color: var(--color-secondary);
}
/**********************Box Dump***********************/




/**********************Box Tree***********************/
.tree {
  min-width: 200px;
  background-color: var(--color-secondary);
}


/**********************Box Tree***********************/



pre {
  background-color: var(--color-secondary);
  border: 1px solid black;
}




/**********************mdat Output***********************/
.scroll {
  overflow: auto;
  max-height: 80em;
}
/**********************mdat Output***********************/
