body {
  background-color:lightblue;
}

caption {
  font-weight: bold;
}

table {
  background-color: black;
}

tr {
  /* background-color: gray; */
  background-color: lightgrey;
}

th {
  background-color: gray;
}

.flexbox {
  display:flex;
  /* margin: 1em; */
}

.flexbox div {
  margin: 1em;
  min-width: 10em;
  min-height: 20em;
}

#main-content {
  border: 2px solid black;
  white-space: pre-wrap; /* Preserve Whitespace */
}

pre {
  background-color: lightgreen;
  border: 1px solid black;
}