:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(50, 50, 50);
}

body {
  background-color: var(--color-primary);
  color: white;
}

.main-wrapper {
  display: flex;
  justify-content: flex-start;
}


.control-bar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: var(--color-secondary);
  border: 1px solid black;
  min-height: 3em;
}

.control-bar-options {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  margin: 0px 5px;
  border: 1px solid black;
}

caption {
  font-weight: bold;
}




table {
  border-collapse: collapse; /* Prevents double borders between cells. */
}

td {
  border: 1px solid white;
}


/* The Box Tree & Box Dump are both side menus*/
.side-menu {
  min-width: 200px;
  background-color: var(--color-secondary);
}





pre {
  background-color: var(--color-secondary);
  border: 1px solid black;
}




.scroll {
  overflow: auto;
  max-height: 80em;
}
